body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
  padding-top: 40px;
}

input, button {
  padding: 10px;
  margin: 5px;
  width: 260px;
  font-size: 16px;
}

button {
  background: #2e8bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1c6fe0;
}
