body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
  padding-top: 50px;
}

input, button {
  padding: 10px;
  margin: 5px;
  width: 250px;
  font-size: 16px;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}
